<%- include ('partials/header') %>

<div class="realtor_list">

    <% record.forEach(function(records){ %>
    <a href="/realtor/addProp %>">ADD PROPERTY</a>
    <a href="/realtor/edit/<%= records._id %>" class="btn">EDIT</a>
    <a href="/realtor/<%= records._id %>">DELETE</a>
    <a href="/">SIGN OUT</a>
    <div class="logo_2">
     <img src="data:image/<%=records.upload.contentType%>;base64,<%=records.upload.data.toString('base64')%>"
     width="100" height="100">
    </div>

    <p>Property Name: <b><%= records.pName %></b></p>
    <p>Property Type <b><%= records.pType %></b></p>
    <p>Rooms: <b><%= records.room %></b></p>
    <p>Address: <b><%= records.pAddress %></b> </p>
    <p>Price: <b><%= records.price %></b></p>
    <p>Year Established: <b><%= records.year %></b></p>
    <p>Registered Date: <%= records.date.toLocaleDateString() %></p>
    <% }) %>
</div>



<%- include ('partials/footer') %>
